/target
.env
*.swp
*.swo
.DS_Store
data/
data/
*.c
*.h
!crates/
!crates/**/*.c
!crates/**/*.h
!grammars/**/*.c
!grammars/**/*.h
bindings/python/chelis/_native.abi3.so
bindings/python/chelis/__pycache__/
